{% extends "auctions/layout.html" %}

{% block scripts %}
  <!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelectorAll('.listing').forEach(listing => {
            listing.onclick = function() {
                const id = this.id;
                console.log(id)
                if (id != '') {
                  // window.location.replace("{% url 'listing' id=16 %}");
                  // window.location.replace("{% url 'listing' id=16 %}");
                }
            };
        });
    });

    // function go_to_listing() {
    //   console.log("test");
    //   console.log(this.target.id);
    //   window.location.href = "{% url 'my_listings' %}";
    // }
  </script> 
 onclick="go_to_listing()"-->
{% endblock %}


{% block body %}

    {% if user.is_authenticated %}
      <form action="{% url 'add_listing' %}">
        <input type="submit" value="Add Listing">
      </form>
    {% endif %}

    <h2>Active Listings</h2>
    {% for listing in listings %}
      <div class="listing contain_link">
        <a class="span" href="{% url 'listing' id=listing.id %}"><span></span></a>
        <div id="{{ listing.id }}"> 
          <p>{{ listing.id }}</p>
          <!-- here create the listing display -->
          <h1>{{ listing.title }}</h1>
          <h2>Current bid: {{ listing.bid }}$</h2>
          <h2>Description:</h2>
          <p>{{ listing.description }}</p>
          {% if listing.img_url != '' %}
            <img class="image" src="{{ listing.img_url }}" alt="Wrong file url">
          {% endif %}
        </div>
        {% if listing.username == user.username %}
        <p>
          {{ listing }}
        </p>
        <form class="outside_span" action="{% url 'delete_listing' id=listing.id %}">
          <input class="button" type="submit" value="Delete this listing" class="form-control">
        </form>
        {% endif %}

      </div>
    {% endfor %}

{% endblock %}