{% extends "auctions/layout.html" %}

{% block scripts %}
  <!-- <script>
    // 
  </script> -->
{% endblock %}


{% block body %}
  <div id="{{ listing.id }}" class="listing">
    <p>{{ listing.id }}</p>
    <!-- here create the listing display -->
    <h1>{{ listing.title }}</h1>
    <h2>Current bid: {{ listing.bid }}$</h2>
    <h2>Description:</h2>
    <p>{{ listing.description }}</p>
    {% if listing.img_url != '' %}
      <img class="image" src="{{ listing.img_url }}" alt="Wrong file url">
    {% endif %}
    {% if listing.username == user.username %}
      <form action="{% url 'delete_listing' id=listing.id %}">
        <input class="button" type="submit" value="Delete this listing" class="form-control">
      </form>
    {% endif %}
    {% if user.is_authenticated %}
      {% if is_in_watchlist %}
        <form action="{% url 'remove_from_watchlist' id=listing.id %}">
          <input class="button" type="submit" value="Remove from watchlist" class="form-control">
        </form>
      {% else %}
        <form action="{% url 'add_to_watchlist' id=listing.id %}">
          <input class="button" type="submit" value="Add to watchlist" class="form-control">
        </form>
      {% endif %}
    {% endif %}
  </div>
{% endblock %}