{% extends "network/layout.html" %}

{% block body %}
    <div id="page_title">
    </div>

    <div id="all_posts-view" class="center">
      <h4>Posts:</h4>
      {% for id, post in posts.items %}
        <div class="card w-100" style="width: 18rem;">
          <div class="card-body">
            <span>
              <h6 class="card-subtitle mb-2 text-muted" style="display: inline;">By: {{ post.author }} </h6>
              <h6 class="card-subtitle mb-2 text-muted" style="display: inline; float: right">{{ post.time_published }}</h6>
            </span>
            <h5 class="card-title">{{ post.text_title }}</h5>
            <p class="card-text">{{ post.text_body }}</p>
            <a href="#" class="card-link">Follow</a>
            <a href="#"  class="card-link like-button" id="like_post_{{ id }}" post_id="{{ id }}">
              <span class="like-button-text">Like</span>
              (<span class="like-button-counter">{{ post.num_likes }}</span>)
            </a>
            <a href="#" class="card-link edit-button" id="edit_post_{{ id }}" post_id="{{ id }}">Edit</a>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}